<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.web.dika.resepku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".DaftarResep" />
        <activity android:name=".DetailResep" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".FormResep" android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>